body{
    background-color: #eaeaea;  
}
.container{
    font-family: "Roboto Slab","Helvetica","Arial",sans-serif;
    font-size: 15px;
    padding: 50px;
    
}

.left-panel{
    background-color: white;
}

.panel-container{
    background-color: white;
}

.idcard{
    background-color: #2a2a2a;
    width: 100%;
}


.listeMenu{
    
    background-color: #ffd42d;
    width: 100%;
    list-style-type: none;
    text-align: center;
    border:#999999 solid 1px;
    
   
}
.listeMenu:hover{
    background-color: white;
}

.fas{
    
   color:#2a2a2a;
   
}

.menu a{
text-decoration: none;
}

.listeMenu a img {
    font-size: 25px;
    margin-bottom: 10px;
}

.titreMenu{
     display: block;
     color:#2a2a2a;
     text-align: center;
     font-weight: bold;
}

.titreSousMenu{
    color: #999999;
}

.about{
    margin-top: 70px;
}

.mainTitle h1{
    font-size: 40px;
    font-weight: 400;
}

.mainTitle h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: #999999;
    font-weight: 300;
}

.subtitle{
    font-size: 25px;
    
}



p{
    color: #999999;  
}

.expFor{
    list-style-type: none;
}

.savoir{
    color: #999999;
    list-style-type: none;  
}

.parcours{
    border-left: 1px solid #999999; 
    list-style-type: none; 
    color: #999999;
}

.line{
    float: none;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #ffd42d;
    border-radius: 50%;
}
.lineBlack{
    float: none;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #2a2a2a;
    border-radius: 50%;
}


.listeCompetence{
    list-style-type: none;
}

.listeCompetenceLangage li{
    list-style-type: none;
    font-size: 1.16em;
}

.niveau{
    float: none;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #ffd42d;
    border-radius: 50%;
}
.niveaux{
    float: none;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #999999;
    border-radius: 50%;
}

.loisir{

        display: flex;
        align-items: center;
        justify-content: center;
      
    
}



/* Media queries */

 @media screen and (max-width: 991px) {
    .menu {
        display: flex;
    }
}

@media screen and (max-width: 770px) {

    .titreMenu{
        display: none;
        
    }
    .titreSousMenu{
        display: none;
    }

}



