.container{
    font-family: "Roboto Slab","Helvetica","Arial",sans-serif;
}
.left-panel{
    background-color: aqua;
    
}
.idcard{
    background-color: #2a2a2a;
    width: 100%;
}


.listeMenu{
    
    width: 100%;
    list-style-type: none;
    text-align: center;
    background-color: #ffd42d;
    border: black solid 1px;
   
}

.listeMenu a img {
    font-size: 25px;
    margin-bottom: 10px;
}

.titreMenu{
     color:#2a2a2a;
     text-align: center;
     font-weight: bold;
}



.mainTitle h1{
    font-size: 45px;
    font-weight: 400;
}

.mainTitle h3{
    font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
color: #999999;
font-weight: 300;

}



p{
    color: #999999;  
}


#parcours2{
    border-left: 1px solid #999999; 
    
}

#line{
    float: none;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #ffd42d;
    border-radius: 50%;
}


.listeCompetence{
    list-style-type: none;
}


.niveau{
    float: none;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #ffd42d;
    border-radius: 50%;
}
.niveaux{
    float: none;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #999999;
    border-radius: 50%;
}


/* Media queries */

 @media screen and (max-width: 991px) {
	ul {
		display: flex;
		
    }

   

}

@media screen and (max-width: 770px) {

    ul li span{
        display: none;
        
    }

}


